﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!--  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) -->
			</div>
			<div class="navbar-collapse collapse">
				<!-- <ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
					<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
				</ul> -->
			</div>
		</div>
	</div>

	<div class="container body-content">




		@RenderBody()









		<footer>
			<!-- <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p> //-->
		</footer>


	</div>


	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
