﻿
<div class="container body-content">


	<div class="glavna">



		<div class="prviDiv">

			<h1 style="font-family:Verdana;">
				Meteorološka stanica
			</h1>




		</div>

		<div class="drugiDiv">


			<div class="kolona1Div">


				<h3 style="font-family:Verdana;">
				</h3>


				<form id="myForm">
					<label for="weatherStationsDropdown"><b>Izaberite grad</b></label>
					<select class="form-control1" id="weatherStationsDropdown" name="weatherStationsDropdown">
						Select the city
					</select>
				</form>





				<hr />

				<div id="unos">



					<input id="unos_grada" placeholder="Unesite grad" />
					<input id="unos_vrednosti" placeholder="Unesite vrednost" />
					<div id="radiobtnDodaj">
						<div>
							<input id="temperaturaRadio" type="radio" name="RbtnAdd" /> Temperatura
						</div>
						<div>
							<input id="pritisakRadio" type="radio" name="RbtnAdd"/> Pritisak
						</div>
						<div>
							<input id="vlaznostRadio" type="radio" name="RbtnAdd"/> Vlaznost
						</div>
					</div>
					<button class="btn btn-success" id="dodaj">
						Dodaj novi parametar
					</button>

				</div>


                <div class="brisanje">



                    <input id="brisanje_grada" placeholder="Unesite grad" />
                    <input id="brisanje_datuma" placeholder="Unesite datum npr. 31-Dec-19" />
                    <input id="brisanje_event" placeholder="Unesite vreme npr. 23:00" />
                    <div id="radiobtn">
                        <div id="radiobtn">
                            <div>
                                <input id="temperaturaRadio2" type="radio" name="RbtnDelete" /> Temperatura
                            </div>
                            <div>
                                <input id="pritisakRadio2" type="radio" name="RbtnDelete" /> Pritisak
                            </div>
                            <div>
                                <input id="vlaznostRadio2" type="radio" name="RbtnDelete" /> Vlaznost
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-danger" id="obrisi">
                        Obrisite podatke
                    </button>



                </div>




			</div>

			<div class="smeta">
				<p>

				</p>
			</div>


			<div class="kolona2Div">


				<div id="temp">
					<h4 style="font-family:Verdana;">        Temperatura</h4>
				</div>

				<div id="prvaKolona">
					<ul class="list-group-item" id="listaTemp">
						
					</ul>
				</div>

				<div class="drugaKolona" id="prosecnaTemp">
					<p>Prosečna temperatura: </p>

				</div>

				<div class="trecaKolona">
					<button class="btn btn-info" id="btnTempNaredna">Naredna 5 dana</button>
					<button class="btn btn-info" id="btnTempTrenutni">Po satima</button>
				</div>

			</div>



			<div class="kolona3Div">


				<div id="vlaz">
					<h4 style="font-family:Verdana;">        Vlaznost</h4>
				</div>

				<div>
					<ul class="list-group-item" id="listaVlaznost">
					</ul>
				</div>

				<div id="prosecnaVlaznost">
					<p>Prosečna vlaznost: </p>

				</div>

                <div>
                    <button class="btn btn-info" id="btnVlaznostNaredna">Naredna 5 dana</button>
                    <button class="btn btn-info" id="btnVlaznostTrenutni">Po satima</button>
                </div>



			</div>

			<div class="kolona4Div">

				<div id="prit">
					<h4 style="font-family:Verdana;">        Pritisak</h4>
				</div>

				<div>
                    <ul class="list-group-item" id="listaPritisak">
                    </ul>
				</div>

				<div id="prosecniPritisak">
					<p>Prosečni pritisak: </p>

				</div>

                <div>
                    <button class="btn btn-info" id="btnPritisakNaredna">Naredna 5 dana</button>
                    <button class="btn btn-info" id="btnPritisakTrenutni">Po satima</button>
                </div>



			</div>


		</div>


	</div>


	@section scripts {
		<script>


            //za naredna 5 dana
			$("#btnVlaznostNaredna").on("click", function () {
            $("#listaVlaznost").empty();
				let temp = $("#weatherStationsDropdown").find(':selected').val();;
							console.log(temp);

				$.ajax({
					url: "/api/airhumiditybyday?cityId=" + temp + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].airHumidity;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.ToShortDateString()' + ' - ' + res + ' % </li>';

					$("#listaVlaznost").append(prikaz);


                    //sutra
             $.ajax({
					url: "/api/airhumiditybyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(1).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].airHumidity;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(1).ToShortDateString()' + ' - ' + res + ' % </li>';

					$("#listaVlaznost").append(prikaz);

                     //prekosutra
             $.ajax({
					url: "/api/airhumiditybyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(2).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].airHumidity;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(2).ToShortDateString()' + ' - ' + res + ' % </li>';
                        
					$("#listaVlaznost").append(prikaz);

                    //nakosutra
             $.ajax({
					url: "/api/airhumiditybyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(3).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].airHumidity;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(3).ToShortDateString()' + ' - ' + res + ' % </li>';
                        
					$("#listaVlaznost").append(prikaz);

                     //za 4 dana
                $.ajax({
					url: "/api/airhumiditybyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(4).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].airHumidity;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(4).ToShortDateString()' + ' - ' + res + ' % </li>';
                        
					$("#listaVlaznost").append(prikaz);


                     //za 5 dana
                $.ajax({
					url: "/api/airhumiditybyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(5).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].airHumidity;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(5).ToShortDateString()' + ' - ' + res + ' % </li>';
                        
					$("#listaVlaznost").append(prikaz);

                },
                error: function (data) {
                    console.log(this);
                }
			 });
                },
                error: function (data) {
                    console.log(this);
                }
			 });

                },
                error: function (data) {
                    console.log(this);
                }
			 });

                },
                error: function (data) {
                    console.log(this);
                }
			 });


                },
                error: function (data) {
                    console.log(this);
                }
			 });



                },
                error: function (data) {
                    console.log(this);
                }
				});

			});


            //za naredna 5 dana
			$("#btnTempNaredna").on("click", function () {
            $("#listaTemp").empty();
				let temp = $("#weatherStationsDropdown").find(':selected').val();;
							console.log(temp);

				$.ajax({
					url: "/api/temperaturebyday?cityId=" + temp + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].temperature;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.ToShortDateString()' + ' - ' + res + ' °C </li>';

					$("#listaTemp").append(prikaz);


                    //sutra
             $.ajax({
					url: "/api/temperaturebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(1).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].temperature;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(1).ToShortDateString()' + ' - ' + res + ' °C </li>';

					$("#listaTemp").append(prikaz);

                     //prekosutra
             $.ajax({
					url: "/api/temperaturebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(2).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].temperature;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(2).ToShortDateString()' + ' - ' + res + ' °C </li>';
                        
					$("#listaTemp").append(prikaz);

                    //nakosutra
             $.ajax({
					url: "/api/temperaturebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(3).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].temperature;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(3).ToShortDateString()' + ' - ' + res + ' °C </li>';
                        
					$("#listaTemp").append(prikaz);

                     //za 4 dana
                $.ajax({
					url: "/api/temperaturebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(4).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].temperature;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(4).ToShortDateString()' + ' - ' + res + ' °C </li>';
                        
					$("#listaTemp").append(prikaz);


                     //za 5 dana
                $.ajax({
					url: "/api/temperaturebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(5).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].temperature;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(5).ToShortDateString()' + ' - ' + res + ' °C </li>';
                        
					$("#listaTemp").append(prikaz);

                },
                error: function (data) {
                    console.log(this);
                }
			 });
                },
                error: function (data) {
                    console.log(this);
                }
			 });

                },
                error: function (data) {
                    console.log(this);
                }
			 });

                },
                error: function (data) {
                    console.log(this);
                }
			 });


                },
                error: function (data) {
                    console.log(this);
                }
			 });



                },
                error: function (data) {
                    console.log(this);
                }
				});

			});


            //za naredna 5 dana
			$("#btnPritisakNaredna").on("click", function () {
            $("#listaPritisak").empty();
				let temp = $("#weatherStationsDropdown").find(':selected').val();
							console.log(temp);

				$.ajax({
					url: "/api/pressurebyday?cityId=" + temp + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].pressure;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.ToShortDateString()' + ' - ' + res + ' °C </li>';

					$("#listaPritisak").append(prikaz);


                    //sutra
             $.ajax({
					url: "/api/pressurebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(1).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].pressure;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(1).ToShortDateString()' + ' - ' + res + ' °C </li>';

					$("#listaPritisak").append(prikaz);

                     //prekosutra
             $.ajax({
					url: "/api/pressurebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(2).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].pressure;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(2).ToShortDateString()' + ' - ' + res + ' °C </li>';
                        
					$("#listaPritisak").append(prikaz);

                    //nakosutra
             $.ajax({
					url: "/api/pressurebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(3).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].pressure;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(3).ToShortDateString()' + ' - ' + res + ' °C </li>';
                        
					$("#listaPritisak").append(prikaz);

                     //za 4 dana
                $.ajax({
					url: "/api/pressurebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(4).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].pressure;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(4).ToShortDateString()' + ' - ' + res + ' °C </li>';
                        
					$("#listaPritisak").append(prikaz);


                     //za 5 dana
                $.ajax({
					url: "/api/pressurebyday?cityId=" + temp + "&date=@DateTime.Now.AddDays(5).ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;
                    let s = 0;
                    let res = 0;
					let div = data.length;

					for (let i = 0; i < data.length; i++) {
						s += + data[i].pressure;
                    }
                    res=s/ div;

					prikaz = '<li class="list-group-item">' + '@DateTime.Now.AddDays(5).ToShortDateString()' + ' - ' + res + ' °C </li>';
                        
					$("#listaPritisak").append(prikaz);

                },
                error: function (data) {
                    console.log(this);
                }
			 });
                },
                error: function (data) {
                    console.log(this);
                }
			 });

                },
                error: function (data) {
                    console.log(this);
                }
			 });

                },
                error: function (data) {
                    console.log(this);
                }
			 });


                },
                error: function (data) {
                    console.log(this);
                }
			 });



                },
                error: function (data) {
                    console.log(this);
                }
				});

			});




            //trenutne
			$("#btnPritisakTrenutni").on("click", function () {
				let temp = $("#weatherStationsDropdown").find(':selected').val();;
				console.log(temp);
				$.ajax({
					url: "/api/pressurebyday?cityId=" + temp + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;

					for (let i = 0; i < data.length; i++) {
						prikaz += '<li class="list-group-item">' + data[i].eventTime + 'h ' + data[i].pressure + ' mbar </li>';
					}

					$("#listaPritisak").html(prikaz);
                },
                error: function (data) {
                    console.log(this);
                }
			});

			});

           
            $("#btnVlaznostTrenutni").on("click", function () {
				let temp = $("#weatherStationsDropdown").find(':selected').val();;
				console.log(temp);
				$.ajax({
					url: "/api/airhumiditybyday?cityId=" + temp + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;

					for (let i = 0; i < data.length; i++) {
						prikaz += '<li class="list-group-item">' + data[i].eventTime + 'h ' + data[i].airHumidity + ' % </li>';
                        }
					$("#listaVlaznost").html(prikaz);

                },
                error: function (data) {
                    console.log(this);
                }
			});

			});


			$("#btnTempTrenutni").on("click", function () {
				let temp = $("#weatherStationsDropdown").find(':selected').val();;
				console.log(temp);
				$.ajax({
					url: "/api/temperaturebyday?cityId=" + temp + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;

					for (let i = 0; i < data.length; i++) {
						prikaz += '<li class="list-group-item">' + data[i].eventTime + 'h ' + data[i].temperature + ' °C </li>';
                        }
					$("#listaTemp").html(prikaz);

                },
                error: function (data) {
                    console.log(this);
                }
			});

			});



            			$("#btnTempTrenutni").on("click", function () {
				let temp = $("#weatherStationsDropdown").find(':selected').val();
				console.log(temp);
				$.ajax({
					url: "/api/temperaturebyday?cityId=" + temp + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
				success: function (data) {
					console.log("Kliknuo sam na dugme desilo se nesto.");
					let prikaz;

					for (let i = 0; i < data.length; i++) {
						prikaz += '<li class="list-group-item">' + data[i].eventTime + 'h ' + data[i].temperature + ' °C </li>';
                        }
					$("#listaTemp").html(prikaz);

                },
                error: function (data) {
                    console.log(this);
                }
			});

        });

        $("#weatherStationsDropdown").on("change", function() {

            var selectedVal = $(this).find(':selected').val();
            var selectedText = $(this).find(':selected').text();
            //console.log(selectedVal);
            //console.log("Uso sam");
            //console.log(selectedText);
            $.ajax({
                url: "/api/pressurebyday?cityId=" + selectedVal.toString() + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log("Vraca za selektovan grad pritisak");
                    console.log(data);
                    let s = 0;
                    let res = 0;
					let div = data.length;
                     let prikaz;

					for (let i = 0; i < data.length; i++) {
						prikaz += '<li class="list-group-item">' + data[i].eventTime + 'h ' + data[i].pressure + ' mbar </li>';
                        }
					$("#listaPritisak").html(prikaz);

                        for (let i = 0; i < data.length; i++) {
                            s +=  + data[i].pressure ;
                    }
                    res=s/ div;
                document.getElementById("prosecniPritisak").innerHTML = "Prosecni pritisak: " + res + " mbar";
                },
                error: function (data) {
                    console.log(this);
                }
            });


            $.ajax({
                url: "/api/airhumiditybyday?cityId=" + selectedVal.toString() + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log("Vraca za selektovan grad vlaznost");
                    console.log(data);
                    let s = 0;
                    let res = 0;
					let div = data.length;
                    let prikaz;

					for (let i = 0; i < data.length; i++) {
						prikaz += '<li class="list-group-item">' + data[i].eventTime + 'h ' + data[i].airHumidity + ' % </li>';
                        }
					$("#listaVlaznost").html(prikaz);

                        for (var i = 0; i < data.length; i++) {
                            s +=  + data[i].airHumidity ;
                    }
                    res=s/ div;
                 document.getElementById("prosecnaVlaznost").innerHTML = "Prosecna vlaznost: " + res + " %";

                },
                error: function (data) {
                    console.log(this);
                }
			});

            $.ajax({
                url: "/api/temperaturebyday?cityId=" + selectedVal.toString() + "&date=@DateTime.Now.ToShortDateString()",
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log("Vraca za selektovan grad temperaturu");
                    console.log(data);
					let s = 0;
					let res = 0;
					let div = data.length;
					let prikaz;

					for (let i = 0; i < data.length; i++) {
						prikaz += '<li class="list-group-item">' + data[i].eventTime + 'h ' + data[i].temperature + ' °C </li>';
                        }
					$("#listaTemp").html(prikaz);


                        for (let i = 0; i < data.length; i++) {
                            s +=  data[i].temperature ;
                    }
					res = s / div;
					//console.log(res);
					document.getElementById("prosecnaTemp").innerHTML = "Prosecna temperatura: " + res + " °C";
                    //console.log(s);
                    //console.log(div);
                    //console.log(res);

                },
                error: function (data) {
                    console.log(this);
                }
            });


        });


        //vraca sve podatke za sve moguce stanice

        console.log("Testiramo za CityWeatherStation");
        $(document).ready(function () {
                $.ajax({
                    url: "/api/cityweatherstation",
                    type: 'GET',
                    dataType: 'json',
                    data: "{}",
                    success: function (data) {
//                        console.log("Uso sam");
  //                      console.log(res);
                        //var s = '<option value="-1">Please Select a City</option>';
                        var s;
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].cityID + '">' + data[i].cityID + ", " + data[i].country + '</option>';
                        }
                        $("#weatherStationsDropdown").html(s);

                    },
                    error: function (res) {
                        console.log(this);
                    }
                });
		});





			$("#dodaj").on("click", function () {
//				let temperature = document.getElementById("temperaturaRadio").checked;
	//			let pressure = document.getElementById("pritisakRadio").checked;
		//		let airHumidity = document.getElementById("vlaznostRadio").checked;

				if (document.getElementById("temperaturaRadio").checked) {
					let data = {
						cityID: $("#unos_grada").val().toString(),
						date: "@DateTime.Now.ToShortDateString()",
						eventTime: "@DateTime.Now.ToShortTimeString()",
						temperature: $("#unos_vrednosti").val().toString()
					};

                                $.ajax({
                url: "/api/temperaturebyday",
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (res) {
                    console.log("Uspesan post.");
                },
                error: function (res) {
                    console.log(this);
                }
            });
				}
				else if (document.getElementById("pritisakRadio").checked)
				{
					let data = {
						cityID: $("#unos_grada").val().toString(),
						date: "@DateTime.Now.ToShortDateString()",
						eventTime: "@DateTime.Now.ToShortTimeString()",
						pressure: $("#unos_vrednosti").val().toString()
					};

                $.ajax({
                url: "/api/pressurebyday",
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (res) {
                    console.log("Uspesan post.");
                },
                error: function (res) {
                    console.log(this);
                }
            });
				}
				else if (document.getElementById("vlaznostRadio").checked)
				{
					let data = {
						cityID: $("#unos_grada").val().toString(),
						date: "@DateTime.Now.ToShortDateString()",
						eventTime: "@DateTime.Now.ToShortTimeString()",
						airHumidity: $("#unos_vrednosti").val().toString()
					};

                                     $.ajax({
                url: "/api/airhumiditybyday",
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (res) {
                    console.log("Uspesan post.");
                },
                error: function (res) {
                    console.log(this);
                }
            });
				}
			});


            $("#obrisi").on("click", function () {



				if (document.getElementById("temperaturaRadio2").checked)
				{
                    $.ajax({
                        url: "/api/temperaturebyday?cityId="+$("#brisanje_grada").val().toString()+ "&date="+$("#brisanje_datuma").val().toString()+"&eventTime="+$("#brisanje_event").val().toString(),
                        type: 'DELETE',
                        dataType: 'json',
                        success: function (res) {
							console.log("DELETE temperature.");
                            //eventualno da se osvezi stranica
                        },
                        error: function (res) {
                            console.log(this);
                        }
                    });
					
				}
				else if (document.getElementById("pritisakRadio2").checked)
			    {
                 $.ajax({
                        url: "/api/pressurebyday?cityId="+$("#brisanje_grada").val().toString()+ "&date="+$("#brisanje_datuma").val().toString()+"&eventTime="+$("#brisanje_event").val().toString(),
                        type: 'DELETE',
                        dataType: 'json',
                        success: function (res) {
							console.log("DELETE pritisak.");
                            //eventualno da se osvezi stranica
                        },
                        error: function (res) {
                            console.log(this);
                        }
                    });
				}
				else if (document.getElementById("vlaznostRadio2").checked)
				{
                 $.ajax({
                        url: "/api/airhumiditybyday?cityId="+$("#brisanje_grada").val().toString()+ "&date="+$("#brisanje_datuma").val().toString()+"&eventTime="+$("#brisanje_event").val().toString(),
                        type: 'DELETE',
                        dataType: 'json',
                        success: function (res) {
							console.log("DELETE vlaznost.");
                            //eventualno da se osvezi stranica
                        },
                        error: function (res) {
                            console.log(this);
                        }
                    });
				}

        });


        //    //dodavanje u listu
        //        console.log("Test da li radi post");
        //         $(document).ready(function () {
        //        $.ajax({
        //            url: "/api/temperaturebyday",
        //            type: 'POST',
        //            dataType: 'json',
        //            data: "{}",
        //            success: function (data) {
                        

        //            },
        //            error: function (res) {
        //                console.log(this);
        //            }
        //        });
        //});







        //CityWeatherStation AJAX - PROVERA DA LI RADE SVE FUNKCIJE


        //Vraca sve stanice-gradove - RADI

        //console.log("Testiramo za CityWeatherStation");
        //$(document).ready(function () {
        //    console.log("Uso u document ready.");
        //    $.ajax({
        //        url: "/api/cityweatherstation",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Vraca sve stanice-gradove.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});



        //Vraca samo jedan grad-stanicu na osnovu ID-a. - RADI

        //console.log("Testiramo js");
        //$(document).ready(function () {
        //    console.log("Uso u document ready.");
        //    $.ajax({
        //        url: "/api/cityweatherstation?cityId=Karlovac",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Vraca stanicu-grad na osnovu ID-a.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Dodaje grad-stanicu - RADI

        //  console.log("Testiramo js");
        //$(document).ready(function () {
        //    console.log("Uso u document ready.");
        //    var data = {
        //        cityID: "Minhen",
        //        zipCode: "2033",
        //        country: "Deutschland"
        //    };
        //    $.ajax({
        //        url: "/api/cityweatherstation",
        //        type: 'POST',
        //        dataType: 'json',
        //        data: data,
        //        success: function (res) {
        //            console.log("Provera za dodavanje grada.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Brise grad stanicu na osnovu prosledjenog ID-ja. - RADI

        //console.log("Testiramo za CityWeatherStation");
        //$(document).ready(function () {
        //    console.log("Uso u document ready.");
        //    $.ajax({
        //        url: "/api/cityweatherstation?cityId=Minhen",
        //        type: 'DELETE',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Brise grad sa prosledjenim ID-em.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //----------------------------------------------------------------------------------------------------------
        //----------------------------------------------------------------------------------------------------------


        //PressureByDay AJAX - PROVERA DA LI RADE SVE FUNKCIJE


        //Vraca listu vrednosti za pritisak. - RADI

        //console.log("Prodji plss");
        //$(document).ready(function () {
        //    console.log("Uso sam u drugi objekat.");
        //    $.ajax({
        //        url: "/api/pressurebyday",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Vraca listu svih vrednosti za pritisak.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Vraca vrednost pritiska na osnovu prosledjenog ID-ja i date-a. - RADI

        //console.log("Specifican get");
        //$(document).ready(function () {
        //    console.log("Get za pressure.");
        //    $.ajax({
        //        url: "/api/pressurebyday?cityId=Nis&date=12/12/2019",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("get za 12/1219");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Vraca vrednost pritiska na osnovu prosledjenog ID-ja, date-a i eventTime-a. - RADI

        //console.log("Specifican get");
        //$(document).ready(function () {
        //    console.log("Get za pressure.");
        //    $.ajax({
        //        url: "/api/pressurebyday?cityId=Nis&date=12/12/2019&eventTime=3:33",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("get za 12/1219");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Dodavanje pritiska - RADI

        //console.log("Specifican get");
        //$(document).ready(function () {
        //    console.log("Get za pressure.");
        //    var data = {
        //        cityID: "Hamburg",
        //        date: "12/12/2019",
        //        eventTime: "3:54",
        //        pressure: "33"
        //    };
        //    $.ajax({
        //        url: "/api/pressurebyday",
        //        type: 'POST',
        //        data: data,
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("POST proba.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});

        //Brisanje pritiska - RADI

        //console.log("Specifican get");
        //$(document).ready(function () {
        //    console.log("Get za pressure.");
        //    $.ajax({
        //        url: "/api/pressurebyday?cityId=Hamburg&date=12/12/2019 12:00:00 AM&eventTime=12/25/2019 3:54:00 AM",
        //        type: 'DELETE',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("DELETE pritisak proba.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});

        //---------------------------------------------------------------------------------------------------------
        //---------------------------------------------------------------------------------------------------------


        //TemperatureByDay AJAX - PROVERA DA LI RADE SVE FUNKCIJE


        //Vraca listu vrednosti za temperaturu. - RADI

        //    console.log("Testiramo temperaturu");
        //$(document).ready(function () {
        //    console.log("Uso u document ready.");
        //    $.ajax({
        //        url: "/api/temperaturebyday",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Temperatura, vraca sve u tabli");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Vraca temperaturu na osnovu ID-ja i date-a. - RADI

        //console.log("Specifican get");
        //$(document).ready(function () {
        //    console.log("Get za temperaturu.");
        //    $.ajax({
        //        url: "/api/temperaturebyday?cityId=Beograd&date=12/12/2019",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Provera temperature za grad i datum");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Vraca temperaturu na osnovu ID-ja, date-a i eventTime-a. - RADI

        //console.log("Specifican get");
        //$(document).ready(function () {
        //    console.log("Get za temperaturu.");
        //    $.ajax({
        //        url: "/api/temperaturebyday?city_id=Beograd&date=12/12/2019&eventTime=3:22",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Provera temperature za grad, datum i tacno vreme");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Dodavanje temperature. - RADI

        //    console.log("Pokusaj POST-a");
        //$(document).ready(function () {
        //    console.log("Get za pressure.");
        //    var data = {
        //        cityID: "Gornji Kormen 44565",
        //        date: "2019-12-11T00:00:00",
        //        eventTime: "2019-12-25T01:35:00",
        //        temperature: "13"
        //    };
        //    $.ajax({
        //        url: "/api/temperaturebyday",
        //        type: 'POST',
        //        data: data,
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Pokusao sam post da napravim, izgleda da je uspelo");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});

        //Brisanje temperature - RADI

        //console.log("Specifican get");
        //$(document).ready(function () {
        //    console.log("Brisanje za temperaturu.");
        //    $.ajax({
        //        url: "/api/temperaturebyday?cityId=Beograd&date=12/12/2019&eventTime=4:33",
        //        type: 'DELETE',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("DELETE temperatura proba.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});



        //---------------------------------------------------------------------------------------------------------
        //---------------------------------------------------------------------------------------------------------


        //AirHumidityByDay AJAX - PROVERA DA LI RADE SVE FUNKCIJE


        //Vraca sve vrednosti za vlaznost. - RADI

        //    console.log("Testiranje vlaznosti");
        //$(document).ready(function () {
        //    console.log("Uso u document ready.");
        //    $.ajax({
        //        url: "/api/airhumiditybyday",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Vracamo celokupnu vlaznost");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Vraca vlaznost na osnovu ID-ja i date-a. - RADI

        //console.log("Testiranje vlaznosti");
        //$(document).ready(function () {
        //    console.log("Uso u document ready.");
        //    $.ajax({
        //        url: "/api/airhumiditybyday?cityID=Kraljevo&date=12/12/2018",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Vracamo vlaznost za odredjeni dan.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Vraca vlaznost na osnovu ID-ja, date-a i eventTime-a. - RADI

        //console.log("Testiranje vlaznosti");
        //$(document).ready(function () {
        //    console.log("Uso u document ready.");
        //    $.ajax({
        //        url: "/api/airhumiditybyday?city_id=Nis&date=12/12/2018&eventTime=4:33",
        //        type: 'GET',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Vracamo vlaznost za odredjeni dan i tacno vreme");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});


        //Dodavanje vlaznosti. - RADI

        //console.log("Pokusaj POST-a");
        //$(document).ready(function () {
        //    console.log("Get za pressure.");
        //    var data = {
        //        cityID: "Gornji Kormen 44565",
        //        date: "2019-12-11T00:00:00",
        //        eventTime: "2019-12-25T01:35:00",
        //        airHumidity: "13"
        //    };
        //    $.ajax({
        //        url: "/api/airhumiditybyday",
        //        type: 'POST',
        //        data: data,
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("Pokusao sam post da napravim, izgleda da je uspelo");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});

        //Brisanje vlaznosti. - RADI

        //console.log("Specifican get");
        //$(document).ready(function () {
        //    console.log("Brisanje za vlaznost.");
        //    $.ajax({
        //        url: "/api/airhumiditybyday?cityId=Nis&date=12/12/2018&eventTime=3:55",
        //        type: 'DELETE',
        //        dataType: 'json',
        //        success: function (res) {
        //            console.log("DELETE vlaznost proba.");
        //            console.log(res);
        //        },
        //        error: function (res) {
        //            console.log(this);
        //        }
        //    });
        //});




		</script>
	}
